/*==========  Desktop First  ========== */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.butts{
		transform: translate(20px) translateY(60px);
	}
	.button{
		margin: 0 70px 200px 0;
	}
	.container{
		width: 992px
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 1024px) {
	.container{
		width: 1024px;
	}
	.butts{
		transform: translate(0px) translateY(60px);
	}
}
@media only screen and (max-width: 810px) {
	.container{
		width: 810px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.container{
		width: 768px;
	}
	.butts{
		transform: translate(50px) translateY(60px);
	}
	.button{
		margin: 0 45px 200px 0;
		font-size: 90%;
	}
}
@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 428px) {
	.container{
		width: 428px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 414px) {
	.container{
		width: 414px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 412px) {
	.container{
		width: 412px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 390px) {
	.container{
		width: 390px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 384px) {
	.container{
		width: 384px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 380px) {
	.container{
		width: 375px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 375px) {
	.container{
		width: 375px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}
@media only screen and (max-width: 360px) {
	.container{
		width: 360px;
	}
	.button{
		margin: 0 35px 35px 0;
		font-size: 70%;
	}
	.butts{
		display: inline-block;
		transform: translate(15px) translateY(0px);
	}
	.dwlbtt {
		font-size: 75%;
		transform: translateY(60px);
	}
}